/* GENERAL */
html, body { padding: 0; margin: 0; height: 100%; }

/* MAIN CONTAINER */
#appprezi { position: relative; font-family: 'Source Sans Pro', sans-serif; color: white; font-size: 1em; background: url(../i/bg.jpg) repeat center top; min-height: 100%; padding: 0 0 0 50%; overflow: hidden; }
#appprezi.light { color: black; }

/* HEADER */
#appprezi > header { position: absolute; top: 0; left: 0; width: 100%; background: rgba(0,0,0,0.5); font-size: 0.85em; padding: 10px 0; text-align: center; color: #999; }
#appprezi.light > header { background: rgba(255,255,255,0.5); color: #888; }
#appprezi > header a { color: white; text-decoration: none; }
#appprezi.light > header a { color: black; }
#appprezi > header a:hover { text-decoration: underline; }

/* SLIDE */
#appprezi > section { min-height: 675px; width: 540px; padding: 55px 0 100px; margin-left: -60px; }
#appprezi > section > hgroup h2 { font-size: 2em; font-weight: normal; margin: 0 0 30px; }
#appprezi > section > hgroup h3 { font-size: 1.6em; font-weight: bold; margin: 0 0 35px; }
#appprezi > section > hgroup h3 img { display: block; }
#appprezi > section > hgroup h4 { color: #e76e0d; text-transform: uppercase; font-size: 0.85em; font-weight: bold; margin: 0 0 5px; }

/* SLIDE COUNTERS */
#appprezi { counter-reset: slide; }
#appprezi > section { counter-increment: slide; }
#appprezi > section > hgroup h2 { position: relative; }
#appprezi > section > hgroup h2:after { content: counter(slide) '/' attr(data-slides-total); position: absolute; top: 0; right: 0; color: rgba(255,255,255,0.3); }

/* DEFAULT / ANIMATED SLIDE */
#appprezi,
#appprezi.animated { height: 750px; }
#appprezi > section,
#appprezi.animated > section { position: absolute; top: 100px; left: 50%; transition: 1s; }

/* STATIC SLIDES */
#appprezi.static { height: auto; padding-top: 100px; }
#appprezi.static > section { position: relative; top: 0; left: 0; transition: none; opacity: 1 !important; }
#appprezi.static .arrow-nav { display: none; }
#appprezi.static > footer:after { display: none; }

/* SLIDE ANIMATIONS */
#appprezi > section.active,
#appprezi.animation-fade > section.active { opacity: 1; }
#appprezi > section.previous,
 #appprezi.animation-fade > section.previous { opacity: 0; }
#appprezi > section.next,
#appprezi.animation-fade > section.next { opacity: 0; }

#appprezi.animation-slide > section.active {  }
#appprezi.animation-slide > section.previous { left: -100%; margin-left: 410px; }
#appprezi.animation-slide > section.next { left: 100%; margin-left: 410px; }

#appprezi.animation-rotate { perspective: 2000px; -webkit-perspective: 2000px; -moz-perspective: 2000px; -ms-perspective: 2000px; perspective-origin: 25% 50%; -webkit-perspective-origin: 25% 50%; -moz-perspective-origin: 25% 50%; -ms-perspective-origin: 25% 50%; }
#appprezi.animation-rotate > section { transform-style: preserve-3d; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; }
#appprezi.animation-rotate > section.active { opacity: 1; }
#appprezi.animation-rotate > section.previous { opacity: 0; transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); -webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); -ms-transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); }
#appprezi.animation-rotate > section.next { opacity: 0; transform: translate3d(50%, 0, 0) rotateY(60deg) translate3d(150%, 0, 0); -moz-transform: translate3d(50%, 0, 0) rotateY(60deg) translate3d(150%, 0, 0); -webkit-transform: translate3d(50%, 0, 0) rotateY(60deg) translate3d(150%, 0, 0); -ms-transform: translate3d(50%, 0, 0) rotateY(60deg) translate3d(150%, 0, 0); }

/* NAVIGATION ARROWS */
#appprezi .arrow-nav { position: absolute; visibility: visible; top: 390px; width: 37px; height: 156px; background-repeat: no-repeat; opacity: 0.3; transition: opacity 0.7s, visibility 0.7s; }
#appprezi .arrow-nav-previous { background-image: url(../i/arrow-left.png); left: 50%; margin-left: -570px; }
#appprezi .arrow-nav-next { background-image: url(../i/arrow-right.png); right: 50%; margin-right: -570px; }
#appprezi .arrow-nav:hover { opacity: 1; transition: opacity 0.3s, visibility 0.3s; }
#appprezi .arrow-nav.disabled { opacity: 0; visibility: hidden; cursor: default; transition: opacity 0.3s, visibility 0.3s; }

/* DEVICES */
html #appprezi > section:before { content: ''; position: absolute; top: 0; left: -410px; width: 394px; height: 730px; background-repeat: no-repeat; }
#appprezi.htc > section:before,
#appprezi.htc-one > section:before,
html #appprezi > section.htc:before,
html #appprezi > section.htc-one:before { background-image: url(../devices/HTC-one.png); }
#appprezi.nexus > section:before,
#appprezi.nexus-4 > section:before,
html #appprezi > section.nexus:before,
html #appprezi > section.nexus-4:before { background-image: url(../devices/Nexus4.png); }
#appprezi.android > section:before,
#appprezi.samsung > section:before,
#appprezi.samsung-galaxy-s-3 > section:before,
#appprezi.samsung-galaxy-s-3-pebble > section:before,
html #appprezi > section.android:before,
html #appprezi > section.samsung:before,
html #appprezi > section.samsung-galaxy-s-3:before,
html #appprezi > section.samsung-galaxy-s-3-pebble:before { background-image: url(../devices/SamsungGalaxyS3_pebble.png); }
#appprezi.samsung-galaxy-s-3-white > section:before,
html #appprezi > section.samsung-galaxy-s-3-white:before { background-image: url(../devices/SamsungGalaxyS3_white.png); }
#appprezi.iphone-4s > section:before,
#appprezi.iphone-4s-white > section:before,
html #appprezi > section.iphone-4s:before,
html #appprezi > section.iphone-4s-white:before { background-image: url(../devices/iPhone4S_white.png); }
#appprezi.iphone-4s-black > section.iphone-4s-black:before,
html #appprezi > section.iphone-4s-black:before { background-image: url(../devices/iPhone4S_black.png); }
#appprezi.iphone-5 > section:before,
#appprezi.iphone-5-white > section:before,
html #appprezi > section.iphone-5:before,
html #appprezi > section.iphone-5-white:before { background-image: url(../devices/iphone5_white.png); }
#appprezi.iphone-5-black > section:before,
html #appprezi > section.iphone-5-black:before { background-image: url(../devices/iphone5_black.png); }
#appprezi.iphone-5c > section:before,
#appprezi.iphone-5c-blue > section:before,
html #appprezi > section.iphone-5c:before,
html #appprezi > section.iphone-5c-blue:before { background-image: url(../devices/iphone5C_blue.png); }
#appprezi.iphone-5c-green > section:before,
html #appprezi > section.iphone-5c-green:before { background-image: url(../devices/iphone5C_green.png); }
#appprezi.iphone-5c-pink > section:before,
html #appprezi > section.iphone-5c-pink:before { background-image: url(../devices/iphone5C_pink.png); }
#appprezi.iphone-5c-white > section:before,
html #appprezi > section.iphone-5c-white:before { background-image: url(../devices/iphone5C_white.png); }
#appprezi.iphone-5c-yellow > section:before,
html #appprezi > section.iphone-5c-yellow:before { background-image: url(../devices/iphone5C_yellow.png); }
#appprezi.iphone-5s-gold > section:before,
html #appprezi > section.iphone-5s-gold:before { background-image: url(../devices/iphone5S_gold.png); }
#appprezi.iphone-black > section:before,
#appprezi.iphone-5s-gray > section:before,
html #appprezi > section.iphone-black:before,
html #appprezi > section.iphone-5s-gray:before { background-image: url(../devices/iphone5S_gray.png); }
#appprezi.ios > section:before,
#appprezi.iphone > section:before,
#appprezi.iphone-white > section:before,
#appprezi.iphone-5s-silver > section:before,
html #appprezi > section.ios:before,
html #appprezi > section.iphone:before,
html #appprezi > section.iphone-white:before,
html #appprezi > section.iphone-5s-silver:before { background-image: url(../devices/iphone5S_silver.png); }
#appprezi.windows > section:before,
#appprezi.windows-phone > section:before,
#appprezi.nokia > section:before,
#appprezi.nokia-lumia-920 > section:before,
#appprezi.nokia-lumia-920-yellow > section:before,
html #appprezi > section.windows:before,
html #appprezi > section.windows-phone:before,
html #appprezi > section.nokia:before,
html #appprezi > section.nokia-lumia-920:before,
html #appprezi > section.nokia-lumia-920-yellow:before { background-image: url(../devices/nokia-lumia-920_yellow.png); }

/* SCREENS */
html #appprezi > section > .screen { position: absolute; }
#appprezi.htc > section > .screen,
#appprezi.htc-one > section > .screen,
html #appprezi > section.htc > .screen,
html #appprezi > section.htc-one > .screen { top: 94px; left: -358px; width: 289px; height: 513px; }
#appprezi.nexus > section > .screen,
#appprezi.nexus-4 > section > .screen,
html #appprezi > section.nexus > .screen,
html #appprezi > section.nexus-4 > .screen { top: 95px; left: -374px; width: 322px; height: 498px; }
#appprezi.android > section > .screen,
#appprezi.samsung > section > .screen,
#appprezi.samsung-galaxy-s-3 > section > .screen,
html #appprezi > section.samsung-galaxy-s-3-pebble > .screen,
html #appprezi > section.android > .screen,
html #appprezi > section.samsung > .screen,
html #appprezi > section.samsung-galaxy-s-3 > .screen,
html #appprezi > section.samsung-galaxy-s-3-pebble > .screen { top: 93px; left: -360px; width: 293px; height: 523px; }
#appprezi.samsung-galaxy-s-3-white > section > .screen,
html #appprezi > section.samsung-galaxy-s-3-white > .screen { top: 93px; left: -360px; width: 293px; height: 523px; }
#appprezi.iphone-4s > section > .screen,
#appprezi.iphone-4s-white > section > .screen,
html #appprezi > section.iphone-4s > .screen,
html #appprezi > section.iphone-4s-white > .screen { top: 163px; left: -348px; width: 270px; height: 405px; }
#appprezi.iphone-4s-black > section > .screen,
html #appprezi > section.iphone-4s-black > .screen { top: 163px; left: -348px; width: 270px; height: 405px; }
#appprezi.iphone-5 > section > .screen,
#appprezi.iphone-5-white > section > .screen,
html #appprezi > section.iphone-5 > .screen,
html #appprezi > section.iphone-5-white > .screen { top: 127px; left: -348px; width: 269px; height: 478px; }
#appprezi.iphone-5-black > section > .screen,
html #appprezi > section.iphone-5-black > .screen { top: 127px; left: -348px; width: 269px; height: 478px; }
#appprezi.iphone-5c > section > .screen,
#appprezi.iphone-5c-blue > section > .screen,
html #appprezi > section.iphone-5c > .screen,
html #appprezi > section.iphone-5c-blue > .screen { top: 127px; left: -348px; width: 270px; height: 478px; }
#appprezi.iphone-5c-green > section > .screen,
html #appprezi > section.iphone-5c-green > .screen { top: 127px; left: -348px; width: 270px; height: 478px; }
#appprezi.iphone-5c-pink > section > .screen,
html #appprezi > section.iphone-5c-pink > .screen { top: 127px; left: -348px; width: 270px; height: 478px; }
#appprezi.iphone-5c-white > section > .screen,
html #appprezi > section.iphone-5c-white > .screen { top: 127px; left: -348px; width: 270px; height: 478px; }
#appprezi.iphone-5c-yellow > section > .screen,
html #appprezi > section.iphone-5c-yellow > .screen { top: 127px; left: -348px; width: 270px; height: 478px; }
#appprezi.iphone-5s-gold > section > .screen,
html #appprezi > section.iphone-5s-gold > .screen { top: 127px; left: -348px; width: 269px; height: 478px; }
#appprezi.iphone-black > section > .screen,
#appprezi.iphone-5s-gray > section > .screen,
html #appprezi > section.iphone-black > .screen,
html #appprezi > section.iphone-5s-gray > .screen { top: 127px; left: -348px; width: 269px; height: 478px; }
#appprezi.iphone > section > .screen,
#appprezi.iphone-white > section > .screen,
#appprezi.iphone-5s-silver > section > .screen,
html #appprezi > section.iphone > .screen,
html #appprezi > section.iphone-white > .screen,
html #appprezi > section.iphone-5s-silver > .screen { top: 127px; left: -348px; width: 269px; height: 478px; }
#appprezi.windows > section > .screen,
#appprezi.windows-phone > section > .screen,
#appprezi.nokia > section > .screen,
#appprezi.nokia-lumia-920 > section > .screen,
#appprezi.nokia-lumia-920-yellow > section > .screen,
html #appprezi > section.windows > .screen,
html #appprezi > section.windows-phone > .screen,
html #appprezi > section.nokia > .screen,
html #appprezi > section.nokia-lumia-920 > .screen,
html #appprezi > section.nokia-lumia-920-yellow > .screen { top: 106px; left: -346px; width: 265px; height: 472px; }

/* FOOTER */
#appprezi > footer { position: absolute; bottom: 15px; right: 50%; margin-right: -470px; color: rgba(255,255,255,0.5); }
#appprezi.light > footer { color: rgba(0,0,0,0.5); }

#appprezi > footer:after { content: 'You can use arrows'; padding: 13px 0 0 53px; white-space: nowrap; position: absolute; bottom: 0; right: 347px; color: rgba(255,255,255,0.5); background: url(../i/controls.png) no-repeat left top; }
#appprezi.light > footer:after { color: rgba(0,0,0,0.5); background-image: url(../i/controls-light.png); }